<div>
    <form action="/personas" method="post">
        Nombre: <input type="text" name="nombre" id="nombre">
        <br>
        Apellido:<input type="text" name="apellido" id="apellido">
        <br>
        Edad:<input type="number" name="edad" id="edad">
        <br>
        <input type="submit" value="Ingresar">
    </form>
</div>